.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    .project-container{
        height: 70%;
    }
    .bottom-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 30%;
        .location-container{
            width: 40%;
            margin: 0px 20px;
        }
        .device-container{
            width: 40%;
        }
    }
}