<div class="base-layout-container">
    <div class="layout-header">
        <nav class="navbar navbar-dark bg-dark mb-5">
            <a class="navbar-brand" routerLink='/'>Smart Clean</a>
            <div class="navbar-expand mr-auto">
                <div class="navbar-nav">
                    <!-- <a class="nav-item nav-link" routerLink='/search'>Search</a>
                    <a class="nav-item nav-link" routerLink='/about'>About</a> -->
                </div>
            </div>
        </nav>
    </div>
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
</div>
