/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.invalid-feedback {
    display: inline;
}
html body{
  height: 100%;
}

h3.inline-header{

}

.form-row {
  display: flex;
  justify-content: space-between;
  .form-group {
      flex-grow: 1;
      margin: 5px;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  border-bottom: 1px solid black;
}

nav.navbar.navbar-dark.bg-dark.mb-5 {
  margin-bottom: 20px !important;
}

.inline-link-header {
  line-height: 2.2;
  font-size: 1.2em;
  color: gray;
  cursor: pointer;
}

.inline-link-header:hover{
  color:  #095a4c;
}

.progress-bar {
    height: 2px;
    width: 100%;
    background: lightgray;
  }
  
  .loaded {
    height: 100%;
    width: 100%;
    background: #444;
    animation: 3s linear infinite loading;
    transform-origin: 0%;
  }
  
  @keyframes loading {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(100%);
    }
  }